@charset "UTF-8";
/********* VARIÁVEIS *********/
/********* CONFIGURAÇÃO *********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul, li {
  list-style: none;
}

/********* MIXINS *********/
/********* PÁGINA *********/
.header {
  background-image: url("../img/background-header2.jpg");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: relative;
}

.header .img__logo {
  width: 9rem;
  /* 150px */
  margin: 0 auto;
}

@media (max-width: 480px) {
  .header .img__logo {
    width: 6rem;
  }
}

.header .menu__mobile {
  width: 85px;
  position: fixed;
  top: 40px;
  right: 45px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header .menu__mobile {
    width: 60px;
    right: 30px;
    top: 40px;
  }
}

.header .nav__menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  position: fixed;
  top: 130px;
  right: 30px;
  display: none;
  box-shadow: 1px 1px 10px 1px #fff;
  animation: show 1s forwards;
  padding: 1rem;
}

@media (max-width: 480px) {
  .header .nav__menu {
    top: 105px;
    right: 10px;
  }
}

.header .nav__menu.show {
  display: grid;
}

@keyframes show {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.header .nav__link {
  font-family: "Viga", sans-serif;
  color: #000;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-bottom-right-radius: 20%;
  box-shadow: 1px 1px 10px #B81F00;
  cursor: pointer;
  background-color: #fff;
}

.header .nav__link:hover {
  box-shadow: 2px 2px 10px #fff;
  background-color: #B81F00;
  color: #fff;
  transition: all .4s;
  box-shadow: 1px 1px 10px "Jura", sans-serif;
}

@media (max-width: 480px) {
  .header .nav__link {
    font-size: 1rem;
  }
}

.planos {
  background-image: url("../img/planos/background-planos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 4rem;
}

.planos__cabecalho {
  padding: 2rem;
  text-align: center;
}

.aluminio {
  margin-bottom: 6rem;
}

.planos__titulo {
  font-family: "Viga", sans-serif;
  font-size: 3rem;
  color: #DBDB43;
}

@media (max-width: 480px) {
  .planos__titulo {
    font-size: 2rem;
  }
}

.planos__subtitulo {
  font-family: "Viga", sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 4rem;
}

@media (max-width: 480px) {
  .planos__subtitulo {
    font-size: 1.5rem;
  }
}

.planos__card--titulo {
  font-family: "Jura", sans-serif;
  color: #DBDB43;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .planos__card--titulo {
    font-size: 2rem;
  }
}

.card__aluminio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: 2px 2px 15px #B81F00;
  width: 320px;
  padding: 1rem .5rem;
  border: 1px solid #dbdb43;
  border-bottom-right-radius: 10%;
  position: relative;
}

.card:hover {
  box-shadow: 2px 2px 20px #DBDB43;
  transition: all .4s;
}

.card__selo {
  width: 100px;
  position: absolute;
  top: -30px;
  right: -40px;
}

@media (max-width: 480px) {
  .card__selo {
    top: -20px;
    right: -20px;
    width: 90px;
  }
}

.card__icone-plano {
  width: 120px;
  margin: 1rem auto;
}

.card__mensal {
  font-family: "Jura", sans-serif;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.card__mensal--promo {
  font-family: "Jura", sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.card__mensal--semestre {
  font-family: "Viga", sans-serif;
  color: #DBDB43;
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.card__acesso--box,
.card__instrutor--box,
.card__ficha--box,
.card__esteira--box,
.card__btn--box {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .3rem;
}

.card__ico {
  width: 30px;
}

.card__acesso,
.card__instrutor,
.card__ficha,
.card__esteira,
.card__faleConosco {
  font-family: "Jura", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.card__acesso:hover,
.card__instrutor:hover,
.card__ficha:hover,
.card__esteira:hover,
.card__faleConosco:hover {
  text-decoration: underline;
  transition: all .4s;
  color: #DBDB43;
}

.card__faleConosco {
  font-weight: bold;
  font-size: 1.5rem;
}

.card__faleConosco:hover {
  text-decoration: underline;
  transition: all .4s;
  color: #DBDB43;
}

.card__icone--whatsapp {
  width: 30px;
}

.card__btn--box {
  background: rgba(219, 219, 67, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid #dbdb43;
  margin-top: 1rem;
  width: 250px;
  cursor: pointer;
  margin: 2rem auto;
  justify-content: center;
  padding: .5rem;
  border-bottom-right-radius: 20%;
}

.card__btn--box:hover {
  background-color: #000;
  transition: all .4s;
}

.instrutores {
  background-image: url("../img/equipe/background-equipe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

.instrutores__cabecalho {
  text-align: center;
  padding: 2rem 0;
}

.instrutores__cabecalho--titulo {
  font-family: "Advent Pro", sans-serif;
  color: #DBDB43;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 480px) {
  .instrutores__cabecalho--titulo {
    font-size: 2rem;
  }
}

.instrutores__cabecalho--subtitulo {
  font-family: "Advent Pro", sans-serif;
  color: #DBDB43;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

@media (max-width: 480px) {
  .instrutores__cabecalho--subtitulo {
    font-size: 2rem;
  }
}

.equipe__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.equipe__img {
  width: 200px;
  filter: grayscale(100%);
  margin-bottom: .4rem;
}

.equipe__img:hover {
  filter: grayscale(0%);
  transition: all .4s;
}

.equipe__info {
  text-align: center;
}

.instrutor__nome {
  font-family: "Jura", sans-serif;
  font-size: 1.5rem;
  margin-bottom: .4rem;
  color: #fff;
}

.instrutor__profissao {
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  color: #DBDB43;
}

.treinos {
  background-image: url("../img/treinamentos/background-treinamentos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.treinos__box--titulo {
  font-size: 2.9rem;
  font-family: "Viga", sans-serif;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  color: #DBDB43;
}

@media (max-width: 480px) {
  .treinos__box--titulo {
    font-size: 1.4rem;
  }
}

.treino__box--container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 100px;
}

@media (max-width: 480px) {
  .treino__box--container {
    justify-content: center;
    padding-right: 0px;
  }
}

.treino__box--btns {
  display: grid;
  grid-template-columns: 160px 160px;
  gap: .5rem;
}

.treino__box--link {
  width: 130px;
  border-radius: 30%;
  border: 2px solid #fff;
  background-color: #B81F00;
  text-align: center;
}

.treino__box--img {
  width: 80px;
  margin: 0 auto;
}

.treino__box--nome {
  font-family: "Jura", sans-serif;
  color: #fff;
  padding: .4rem;
  font-size: 1.2rem;
}
