@charset "UTF-8";
/********* VARIÁVEIS *********/
/********* CONFIGURAÇÃO *********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul, li {
  list-style: none;
}

/********* MIXINS *********/
/********* PÁGINA *********/
.header {
  background-image: url("../img/background-header2.jpg");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.header .img__logo {
  width: 9rem;
  /* 150px */
  margin: 0 auto;
}

.header .nav__menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 3rem;
  justify-items: center;
}

.header .nav__link {
  font-family: "Viga", sans-serif;
  color: #fff;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-bottom-right-radius: 20%;
  box-shadow: 1px 1px 10px #B81F00;
  cursor: pointer;
}

.header .nav__link:hover {
  box-shadow: 0px 0px 0px #fff;
  background-color: #fff;
  color: #B81F00;
  transition: all .4s;
  box-shadow: 1px 1px 10px "Jura", sans-serif;
}

.planos {
  background-image: url("../img/planos/background-planos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.planos__cabecalho {
  padding: 2rem;
  text-align: center;
}

.aluminio {
  margin-bottom: 6rem;
}

.planos__titulo {
  font-family: "Viga", sans-serif;
  font-size: 3rem;
  color: #DBDB43;
}

.planos__subtitulo {
  font-family: "Viga", sans-serif;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 4rem;
}

.planos__card--titulo {
  font-family: "Jura", sans-serif;
  color: #DBDB43;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card__aluminio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: 2px 2px 15px #B81F00;
  width: 320px;
  padding: 1rem .5rem;
}

.card:hover {
  box-shadow: 2px 2px 20px #DBDB43;
  transition: all .4s;
}

.card__mensal {
  font-family: "Jura", sans-serif;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card__mensal span {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  color: #DBDB43;
}

.card__acesso--box,
.card__instrutor--box,
.card__ficha--box,
.card__esteira--box,
.card__btn--box {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .3rem;
}

.card__ico {
  width: 30px;
}

.card__acesso,
.card__instrutor,
.card__ficha,
.card__esteira,
.card__faleConosco {
  font-family: "Jura", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.card__acesso:hover,
.card__instrutor:hover,
.card__ficha:hover,
.card__esteira:hover,
.card__faleConosco:hover {
  text-decoration: underline;
  transition: all .4s;
  color: #DBDB43;
}

.card__faleConosco {
  font-weight: bold;
  font-size: 1.5rem;
}

.card__faleConosco:hover {
  text-decoration: underline;
  transition: all .4s;
  color: #DBDB43;
}

.card__icone--whatsapp {
  width: 30px;
}

.card__btn--box {
  background: rgba(219, 219, 67, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid #dbdb43;
  margin-top: 1rem;
  width: 250px;
  cursor: pointer;
  margin: 2rem auto;
  justify-content: center;
  padding: .5rem;
}

.card__btn--box:hover {
  background-color: #000;
  transition: all .4s;
}
