.header {
    background-image: url("../img/background-header2.jpg");
    height: 130vh;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        .header__container {
            display: flex;
            justify-content: space-between;
            padding: .5rem;
            // background-color: aqua;

        }

        .img__logo {
            width: 9rem; /* 150px */
            margin: 0 auto;

                @include celular {
                    width: 6.5rem;
                }
        }

        .nav__menu {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.5rem;
            margin-top: 3rem;
            justify-items: center;
        }

        .nav__link {
            font-family: $fonte-menu;
            color: #000;
            font-size: 1.3rem;
            padding: 5px 10px;
            border-bottom-right-radius: 20%;
            box-shadow: 1px 1px 10px #B81F00;
            cursor: pointer;
            background-color: #fff;

                &:hover {
                    box-shadow: 2px 2px 10px #fff;
                    background-color: $cor-titulo;
                    color: #fff;
                    transition: all .4s;
                    box-shadow: 1px 1px 10px $fonte-corpo;
                }
        }
}