.header {
    background-image: url("../img/background-header2.jpg");
    height: 130vh;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        .header__container {
            display: flex;
            justify-content: space-between;
            padding: .5rem;
            position: relative;

        }

        .img__logo {
            width: 9rem; /* 150px */
            margin: 0 auto;

                @include celular {
                    width: 6rem;
                }
        }

        .menu__mobile {
            width: 85px;
            position: fixed;
            top: 40px;
            right: 45px;
            cursor: pointer;

                @include celular {
                    width: 60px;
                    right: 30px;
                    top: 40px;
                }
        }

        .nav__menu {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            justify-items: center;
            position: fixed;
            top: 130px;
            right: 30px;
            display: none;
            box-shadow: 1px 1px 10px 1px #fff;
            animation: show 1s forwards;
            padding: 1rem;
            
            // animation: show;

                @include celular {
                    top: 105px;
                    right: 10px;
                }
        }

        .nav__menu.show {
            display: grid;
        }

        @keyframes show {
            from {
                margin-left: 100%;
                opacity: 0;
                
              }
            
              to {
                margin-left: 0%;
                opacity: 1;
              }
        }

        .nav__link {
            font-family: $fonte-menu;
            color: #000;
            font-size: 1.1rem;
            padding: 5px 10px;
            border-bottom-right-radius: 20%;
            box-shadow: 1px 1px 10px #B81F00;
            cursor: pointer;
            background-color: #fff;

                &:hover {
                    box-shadow: 2px 2px 10px #fff;
                    background-color: $cor-titulo;
                    color: #fff;
                    transition: all .4s;
                    box-shadow: 1px 1px 10px $fonte-corpo;
                }

                @include celular {
                    font-size: 1rem;
                }
        }
}