.planos__cabecalho {
    padding: 2rem;
    text-align: center;
}

.planos__titulo {
    font-family: $fonte-menu;
    font-size: 3rem;
}

.planos__subtitulo {
    font-family: $fonte-menu;
    font-size: 2rem;
}