.planos {
    background-image: url("../img/planos/background-planos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.planos__cabecalho {
    padding: 2rem;
    text-align: center;
}

.planos__titulo {
    font-family: $fonte-menu;
    font-size: 3rem;
    color: #DBDB43;
}

.planos__subtitulo {
    font-family: $fonte-menu;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 4rem;
}

.planos__card--titulo {
    font-family: $fonte-corpo;
    color: $cor-corpo;
    font-size: 2rem;
    text-align: center;
}