.sobre {
    height: 120vh;
    background-image: url("../img/sobre/background-sobre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
}