.suplemento {
    height: 110vh;
}

.suple__box {
    display: grid;
    place-content: center;
    height: 100vh;
}

.suple__card--img {
    width: 300px;
}










/* SWIPER SLIDER */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 380px;
  }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//   }