.treinos {
    background-image: url("../img/treinamentos/background-treinamentos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.treinos__box--titulo {
    font-size: 3rem;
    font-family: $fonte-menu;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 4rem;
}

.treino__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
}

.treino__card--btn {
    border: 10px solid #000;
    border-radius: 50%;
    padding: 1rem;
}