.treinos {
    background-image: url("../img/treinamentos/background-treinamentos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


