.treinos {
    background-image: url("../img/treinamentos/background-treinamentos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.treinos__box--titulo {
    font-size: 2.9rem;
    font-family: $fonte-menu;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 4rem;
    color: $cor-corpo;
}

.treino__box--btns {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
}

.treino__box--link {
    width: 150px;
    border-bottom-right-radius: 10%;
    background-color: #fff;
}

.treino__box--img {
    width: 80px;
}

.treino__box--nome {
    font-family: $fonte-corpo;
    color: #fff;
    padding: .4rem;
}