@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Road+Rage&family=Sedgwick+Ave&display=swap');

:root {
    --fonte-titulos: 'Road Rage', cursive;
    --fonte-corpo: 'Advent Pro', sans-serif;
    --fonte-subtitulo: 'Sedgwick Ave', cursive;
    --fonte-size-titulos: 2.5rem;
    --fonte-size-corpo: 1.5rem;
    --cor-titulos: #FFE347;
    --cor-btn-links: #E91E63;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/******************** HEADER MENU ********************/
.header {
    background-image: url("./img/background-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
   
} 

.cabecalho {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    height: 800px;
    align-content: center;
    padding-left: 100px;
}

.img-logo  {
    width: 400px;
}


.logo {
    width: 200px;
    margin: 0 auto;
}


.nav-menu {
    width: 400px;
    text-align: center;
}

.img-menu {
    display: none;
}

.menu-itens {
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    box-shadow: 0px 0px 10px 0px var(--cor-titulos);
    color: #fff;
    border-radius: 10%;
}

.menu-itens:hover {
    background-color: var(--cor-titulos);
    transition: all 0.6s;
    color: #000;
}

/******************** MAIN - PLANOS ********************/
.planos {
    background-image: url("./img/background-planos.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.titulo-plano {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    
}

.subtitulo-plano {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-btn-links);
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.maromba {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    perspective: 80px;
}

.card-plano {
    box-shadow: 2px 6px 10px 2px var(--cor-btn-links);
    padding: 1.5rem;
    text-align: center;
    transform: rotateY(-1deg);
    /* transform: rotateX(2deg); */
}

.card-plano:hover {
    transform: rotateY(0deg);
    transition: all 0.6s;
    box-shadow: 2px 6px 10px 2px var(--cor-titulos);

}

.card-plano img {
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    
}

.card-plano h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    margin-bottom: 1.5rem;
}

.desconto {
    color: #fff;
    padding-bottom: 50px;
}

.card-plano p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    color: #fff;

}

.btn-info {
    background-color: var(--cor-titulos);
    padding: 1rem;
    margin-top: 1rem;
    display: block;
    font-family: var(--fonte-subtitulo);
    color: #000;
    font-size: var(--fonte-size-corpo);
    border-radius: 6px;
}

.btn-info:hover {
    background-color: var(--cor-btn-links);
    transition: all 0.6s;
}

.titulo-premium {
    margin-top: 2rem;
}

/******************** MAIN - BENEFICIOS ********************/
.beneficios {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: #3C3C3E;
}

.item-bef {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.info-bef {
    text-align: center;
}

.info-bef h2 {
    font-family: var(--fonte-subtitulo);
    color: var(--cor-titulos);
}

.info-bef p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    color: #fff;
}

.img-item img {
    width: 60px;
    margin: 0 auto;
}

/******************** RESPONSIVIDADE ********************/
@media (max-width: 600px) {
    .logo {
        margin: 0;
        padding-top: 1rem;
    }
    
    .cabecalho {
        padding-left: 40px;
    }

    .menu-itens {
        width: 9.3rem;
    }

    .card-plano {
        padding: 0.5rem;
        width: 14rem;
        transform: rotateY(0deg);
        margin-bottom: 1rem;
    }
    
    .card-plano:hover {
        transform: rotateY(0deg);
    }

    .card-plano h2 {
        font-size: var(--fonte-size-titulos);   
    }

    #premium-titulo {
        font-size: 1.5rem;
    }

    .btn-info {
        width: 200px;
        padding: 0.5rem;
        margin: 0.5rem auto;
    }

    

    

}