@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Road+Rage&family=Sedgwick+Ave&display=swap');

:root {
    --fonte-titulos: 'Road Rage', cursive;
    --fonte-corpo: 'Advent Pro', sans-serif;
    --fonte-subtitulo: 'Sedgwick Ave', cursive;
    --fonte-size-titulos: 2.5rem;
    --fonte-size-corpo: 1.5rem;
    --cor-titulos: #FFE347;
    --cor-btn-links: #E91E63;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    display: block;
}

ul, li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/******************** HEADER MENU ********************/
.header {
    background-image: url("./img/background-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding: 1rem;
   
} 

.cabecalho {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    height: 800px;
    align-content: center;
    padding-left: 100px;
}

.img-logo  {
    width: 400px;
}


.logo {
    width: 150px;
    margin: 0 auto;
    
}

.img-menu-mobile {
    display: none;
}


.nav-menu {
    width: 400px;
    text-align: center;
}

.img-menu {
    display: none;
}

.menu-itens {
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-family: var(--fonte-titulos);
    font-size: var(--fonte-size-titulos);
    box-shadow: 0px 0px 10px 0px var(--cor-titulos);
    color: #fff;
    border-radius: 10%;
}

.menu-itens:hover {
    background-color: var(--cor-titulos);
    transition: all 0.6s;
    color: #000;
}

/******************** MAIN - PLANOS ********************/
.planos {
    background-image: url("./img/background-planos.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.titulo-plano {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    
}

.subtitulo-plano {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-btn-links);
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.maromba {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    perspective: 80px;
}

.card-plano {
    box-shadow: 2px 6px 10px 2px var(--cor-btn-links);
    padding: 1.5rem;
    text-align: center;
    transform: rotateY(-1deg);
    /* transform: rotateX(2deg); */
}

.card-plano:hover {
    transform: rotateY(0deg);
    transition: all 0.6s;
    box-shadow: 2px 6px 10px 2px var(--cor-titulos);

}

.card-plano img {
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    
}

.card-plano h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    margin-bottom: 1.5rem;
}

.desconto {
    color: #fff;
    padding-bottom: 50px;
}

.card-plano p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    color: #fff;

}

.btn-info {
    background-color: var(--cor-titulos);
    padding: 1rem;
    margin-top: 1rem;
    display: block;
    font-family: var(--fonte-subtitulo);
    color: #000;
    font-size: var(--fonte-size-corpo);
    border-radius: 6px;
}

.btn-info:hover {
    background-color: var(--cor-btn-links);
    transition: all 0.6s;
}

.titulo-premium {
    margin-top: 2rem;
}

/******************** MAIN - BENEFICIOS ********************/
.beneficios {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: #3C3C3E;
}

.item-bef {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.info-bef {
    text-align: center;
}

.info-bef h2 {
    font-family: var(--fonte-subtitulo);
    color: var(--cor-titulos);
}

.info-bef p {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-corpo);
    color: #fff;
}

.img-item img {
    width: 60px;
    margin: 0 auto;
}

/******************** TREINAMENTOS ********************/
.treinamentos {
    background-image: url("./img/background-treinamentos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 3rem;
}

.apresentacao-treinamentos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 6rem 0rem;
}

.apresentacao-treinamentos h2 {
    font-family: var(--fonte-subtitulo);
    font-size: 3rem;
    color: var(--cor-titulos);
    text-align: center;
    padding: 0.5rem;
}

.apresentacao-treinamentos p {
    width: 400px;
    font-family: var(--fonte-corpo);
    color: #fff;
    line-height: 1.3;
}

.apresentacao-treinamentos img {
    width: 500px;
}

.acordion {
    background-color: #66666b;
    max-width: 980px;
    margin: 1.5rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 1px #fff;
}

.acordion:hover {
    box-shadow: 1px 1px 20px 1px #fff;
    transition: all 0.6s;
}

.acordion:nth-child(odd) {
    background-color: var(--cor-titulos);
}

.acordion-titulo {
    text-align: center;
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    margin-bottom: 2rem;
    color: #000;
}


.section-gifs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.img-gif {
    width: 300px;
}

/******************** GALERIA ********************/
.galeria {
    background-color: #3c3c3e;
    padding-bottom: 3rem;
}

.galeria h2 {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    color: var(--cor-titulos);
    text-align: center;
    padding: 4rem;
}

.galeria-musc {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* justify-content: center; */
}

.galeria-musc-imgs {
    padding: 1rem;
}

/******************** NUTRIENTES ********************/

.titulo-nutrientes {
    font-family: var(--fonte-subtitulo);
    font-size: var(--fonte-size-titulos);
    text-align: center;
    padding: 3rem;
}

/* .acordion-nutriente {
    padding: 1rem;
    
} */

.acordion-nutriente {
    margin: 0 auto;
    width: 62rem;
    padding: 1rem;
}

.acordion-nutriente summary {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-titulos);
    background-color: var(--cor-btn-links);
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* .nutrientes {
    max-width: 62.5rem;
} */

.section-nutriente {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    max-width: 62.5rem;
    margin: 0 auto;
    /* justify-content: space-around; */
}

.nutriente-info h2 {
    font-family: var(--fonte-corpo);
    font-size: var(--fonte-size-titulos);
    padding: 1rem;
    text-align: center;
}

.nutriente-info p {
    width: 500px;
    font-family: 1rem;
    margin-bottom: 0.25rem;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.4;

    /* background-color: wheat; */
}

.img-nutrientes {
    width: 23.75rem;
}

/******************** SOBRE-NOS ********************/
.sobre-nos {
    background-image: url("./img/background-sobre-nos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 2000px;
}

.sobre-nos-info {
    width: 62.5rem;
    margin: 0 auto;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    height: 2000px;
    max-width: 1000px;
}

.sobre-nos-info h1 {
    font-family: var(--fonte-titulos);
    font-size: 6rem;
    color: var(--cor-btn-links);
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 20px 1px var(--cor-titulos);
    width: 56.25rem;
    
}

.sobre-nos-info h1:hover {
    color: var(--cor-titulos);
    box-shadow: 1px 1px 20px 1px var(--cor-btn-links);
    transition: all 0.6s;
}

.sobre-nos-info p {
    font-family: var(--fonte-corpo);
    font-size: 1.4rem;
    color: #fff;
    max-width: 900px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.endereco {
    text-align: center;
    margin-top: 2rem;
}

.endereco h3 {
    font-family: var(--fonte-corpo);
    font-size: 2.5rem;
    color: var(--cor-titulos);
    text-align: center;
}

.redes-sociais {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.logo-rede-sociais {
    max-width: 80px;
    border-bottom: transparent;
}

.logo-rede-sociais:hover {
    border-bottom: 2px solid #fff;
}

/******************** FOOTER ********************/ 
.footer {
    background-color: #000;
    padding: 2rem;
    text-align: center;
}

.maps iframe {
    width: 580px;
}
/******************** FOOTER - DESENVOLVEDOR ********************/ 
.desenvolvedor {
    background-color: #000;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #FFE347;
}

.desenvolvedor p {
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    color: var(--cor-titulos);
    padding: 0.5rem;
}

.desenvolvedor a {
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    color: #000;
    padding: 0.25rem;
    width: 140px;
    margin: 0 auto;
    background-color: var(--cor-titulos);
    border: 1px solid #000;
}

.desenvolvedor a:hover {
    background-color: var(--cor-btn-links);
    color: #fff;
    transition: all 0.6s;
    border-radius: 6px;
    border: 1px solid #fff;

}


/******************** RESPONSIVIDADE ********************/
@media (max-width: 600px) {
    .header {
        height: 62.5rem;
    }
    .img-logo {
        width: 16.8rem;
        position: absolute;
        top: 0;
    }

    .logo {
        margin: 0;
        padding-top: 1rem;
    }

    .nav {
        padding-top: 460px;
    }

    .img-menu-mobile {
        position: absolute;
        top: 240px;
        width: 5rem;
        display: block;
        margin-left: 2.5rem;
        box-shadow: 1px 1px 10px 1px var(--cor-titulos);
    }

    .img-menu-mobile:hover {
        box-shadow: 0px 0px 5px 0px var(--cor-titulos);
    }

    .nav-menu {
        width: 16.8rem;
        display: none;
        margin-top: 2.5rem;
    }

    .nav-menu.ativo {
        display: block;
    }
    
    .cabecalho {
        padding-left: 40px;
    }

    .menu-itens {
        width: 9.3rem;
    }

    .card-plano {
        padding: 0.5rem;
        width: 16.25rem;
        transform: rotateY(0deg);
        margin-bottom: 1rem;
    }
    
    .card-plano:hover {
        transform: rotateY(0deg);
    }

    .card-plano h2 {
        font-size: var(--fonte-size-titulos);   
    }

    #premium-titulo {
        font-size: 1.5rem;
    }

    .btn-info {
        width: 200px;
        padding: 0.5rem;
        margin: 0.5rem auto;
    }

    .apresentacao-treinamentos p {
        width: 18.75rem;
        margin-bottom: 1rem;
    }

    .apresentacao-treinamentos img {
        width: 18.75rem;
    }

    .acordion {
        width: 17.5rem;
    }

    .galeria h2 {
        font-size: 2.2rem;
        text-align: start;
        padding: 2rem;

    }

    .img-academia {
        width: 18.75rem;
    }

    .acordion-nutriente {
        width: 18.75rem;
        margin: 0 auto;
    }

    .nutriente-info h2 {
        font-size: 2rem;
    }

    .nutriente-info p {
        width: 18.75rem;
    }

    .logo-mobile300px {
        width: 18.75rem;
        margin: 0;
    }

    .sobre-nos-info {
        max-width: 300px;
        text-align: center;
    }

    .sobre-nos-info h1 {
        font-size: 3.5rem;
        width: 18.75rem;
        margin: 1rem auto;
        text-align: center;
    }

    .sobre-nos-info p {
        padding: 1rem;
        width: 18.75rem;
    }

    .endereco h3 {
        width: 18.75rem;
        font-size: 1.5rem;
    }

    .rede-sociais {
        width: 50px;
    }

    /* .footer {
        padding: 1rem;
        width: 300px;
    } */

    .maps iframe {
        width: 280px;
        text-align: center;
    }
}

@media (min-width: 601px) and (max-width:1024px) {
    .acordion {
        width: 31rem;
    }

    .acordion-nutriente summary {
        width: 31rem;
    }

    .acordion-nutriente {
        width: 600px;
    }


    .section-nutriente {
        width: 600px;
        
        /* margin: 0 auto; */
    }

    .nutriente-info {
        margin: 0;
    }

    .sobre-nos-info {
        width: 600px;
    }

    .sobre-nos-info h1 {
        width: 26rem;
        font-size: 4rem;
        margin: 0 auto;
        /* margin: 0rem 1rem; */
    }

    .sobre-nos-info p {
        width: 28rem;
        margin: 1rem auto;

    }

    .endereco {
        width: 31rem;
        margin: 0 auto;
    }

    .endereco h3 {
        width: 31rem;
        font-size: 2rem;
    }

    .endereco p {
        width: 31rem;
    }

    .logo-mobile350px {
        width: 21rem;
        margin-left: 7.5rem;
    }

     .maps iframe {
        width: 450px;
        text-align: center;
    }
}